<h4 class="my-5 mx-5">商品新規登録</h4>
<div class="flex flex-wrap justify-center mb-5">
  <%= form_with model: @item, url: admin_items_path, mehod: :post do |f| %>
  <%= f.label :"商品画像", class: "col-2 ml-5 my-1" %>
  <%= f.file_field :image, accept: "image/*", class: "my-1" %><br>
  <%= f.label :"商品名", class: "col-2 ml-5" %>
  <%= f.text_field :name, class: "my-1" %><br>
  <%= f.label :"商品説明", class: "col-2 ml-5" %>
  <%= f.text_area :introduction, class: "my-1" %><br>
  <%= f.label :"ジャンル", class: "col-2 ml-5" %>
  <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name)  %><br>
  <%= f.label :"税抜価格", class: "col-2 ml-5" %>
  <%= f.number_field :price, class: "my-1" %>円<br>
  <%= f.label :"販売ステータス", class: "col-2 ml-5" %>
  <%= f.radio_button :is_active, "true" %>
  <%= f.label :is_active_true, "販売中", class: "mr-5" %>
  <%= f.radio_button :is_active, "false" %>
  <%= f.label :is_active_false, "販売停止中" %><br>
　<div class="text-center">
　  <%= f.submit '新規登録', class: "btn btn-success" %>
　</div>
  <% end %>
</div>