<h4 class="my-5 mx-5">
  <%= @customer.last_name %><%= @customer.first_name %>
  <small>さんの</small>会員詳細
</h4>

  <div class="row mt-5 mb-2">
    <div class="col-sm-3 ml-5">
      <label for="customer_id">会員ID</label>
    </div>
    <div class="col-sm-3">
      <%= @customer.id %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-sm-3 ml-5">
      <label for="name">氏名</label>
    </div>
    <div class="col-sm-3">
      <%= @customer.last_name %>　<%= @customer.first_name %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-sm-3 ml-5">
      <label for="name_kana">フリガナ</label>
    </div>
    <div class="col-sm-3">
      <%= @customer.last_name_kana %>　<%= @customer.first_name_kana %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-sm-3 ml-5">
      <label for="postal_code">郵便番号</label>
    </div>
    <div class="col-sm-3">
      <%= @customer.postal_code %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-sm-3 ml-5">
      <label for="address">住所</label>
    </div>
    <div class="col-sm-7">
      <%= @customer.address %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-sm-3 ml-5">
      <label for="telephone_number">電話番号</label>
    </div>
    <div class="col-sm-3">
      <%= @customer.telephone_number %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-sm-3 ml-5">
      <label for="email">メールアドレス</label>
    </div>
    <div class="col-sm-3">
      <%= @customer.email %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-sm-3 ml-5">
      <label for="status">会員ステータス</label>
    </div>
    <div class="col-sm-3">
      <% if @customer.is_active %>
      <p class="text-success"><b>有効</b></p>
      <% elsif %>
      <p class="text-secondary"><b>退会</b></p>
      <% end %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-sm-3 ml-5"></div>
    <div class="col-sm-6">
      <%= link_to "編集する",edit_admin_customer_path(@customer), class:"btn btn-sm btn-success mr-5" %>
      <%= link_to "注文履歴一覧を見る",admin_homes_top_path(@customer), class:"btn btn-sm btn-primary ml-3" %>
    </div>
  </div>
