<h4 class="my-5 mx-5">
  <%= @customer.last_name %><%= @customer.first_name %>
  <small>さんの</small>会員詳細
</h4>
<div class="row text-center">
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <table class="table" style="border: none;">
      <tbody>
        <tr>
          <th>会員ID</th>
          <td>
            <%= @customer.id %>
          </td>
        </tr>
        <tr>
        <th>氏名</th>
        <td>
          <%= @customer.last_name %>　<%= @customer.first_name %>
        </td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td>
          <%= @customer.last_name_kana %>　<%= @customer.first_name_kana %>
        </td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td>
          <%= @customer.postal_code %>
        </td>
      </tr>
      <tr>
        <th>住所</th>
        <td>
          <%= @customer.address %>
        </td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>
          <%= @customer.email %>
        </td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <td>
          <% if @customer.is_active %>
           <p class="text-success"><b>有効</b></p>
          <% elsif %>
           <p class="text-secondary"><b>退会</b></p>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  </div>
</div>

<div class="text-center">
  <%= link_to "編集する",edit_admin_customer_path(@customer), class:"btn btn-sm btn-success" %>
</div>
