 <div class="row my-5">
    <div class="col-sm-2"></div>
    <h3 class="border border-secondary bg-light">配送先登録 / 一覧</h3>
  </div>

    <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
    <div class="form-group row ml-5" >
      <%= f.label :postal_code,"郵便番号(ハイフンなし)", class:"col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :postal_code, class:"form-control" %>
      </div>
    </div>

    <div class="form-group row ml-5" >
      <%= f.label :address,"住所", class:"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :address, class:"form-control" %>
      </div>
    </div>

    <div class="form-group row ml-5" >
      <%= f.label :address,"宛名", class:"col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :name, class:"form-control" %>
      </div>
      <div class="col-sm-4"></div>
        <%= f.submit '新規登録', class:"btn btn-success" %>
    </div>
    <% end %>

    <div class="row mt-5 ml-1">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
         </thead>
         <% @addresses.each do |address| %>
         <tr>
           <td><%= address.postal_code %></td>
         </tr>
         <tr>
           <td><%= address.address %></td>
         </tr>
         <tr>
           <td><%= address.name %></td>
         </tr>
         <tr>
           <td>
             <%= link_to "編集する", edit_address_path(address.id), class:"btn btn-success ml-3 my-2" %>
             <%= link_to "削除する", address, method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-danger ml-3 my-2" %>
           </td>
         </tr>
         <% end %>
        </table>
    </div>