<div class="container">
  <div class="row mb-2 mt-4">
    <div class="col-sm-1"></div>
    <h3 class="border border-secondary bg-light">注文履歴一覧</h3>
  </div>

  <div class="row">
    <div class="col-sm">
      <table class="table table-bordered border-black">
        <thead class="thead-light">
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
          <% @orders.each do |order| %>
          <tbody>
            <tr>
              <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
              <td>
                〒<%= order.postal_code %><br>
                <%= order.address %><br>
                <%= order.name %>
              </td>
              <td>
                <% @order_details = order.order_details %>
                <% @order_details.each do |order_detail| %>
                <%= order_detail.item.name %><br>
                <% end %>
              </td>
              <td><%= order.total_payment.to_s(:delimited) %></td>
              <td><%= order.status_i18n %></td>
              <td><%= link_to "表示する", order_path(order.id) , class:"btn btn-primary" %></td>
            </tr>
            <% end %>
          </tbody>
        </thead>
      </table>
    </div>
  </div>