<div class="container">
  <div class="row mb-2 mt-4">
    <div class="col-sm-1"></div>
    <h3 class="border border-secondary bg-light">注文情報入力</h3>
  </div>

  <%= form_with model: @order, url: '/orders/confirm', method: :post do |f| %>
　<div class="form-group row">
    <div class="col-sm">
      <h4><b>支払方法</b></h4>
      <%= f.radio_button :payment_method, Order.payment_methods.key(0), class:"ml-4", required: true %>
      <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card], class: "control-form" %><br>
      <%= f.radio_button :payment_method, Order.payment_methods.key(1), class:"ml-4", required: true %>
      <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer], class: "control-form" %>
    </div>
  </div>

  <h4><b>お届け先</b></h4>
  <div class="form-group row">
    <div class="col-sm-12 ml-4">
      <%= f.radio_button :select_address, 0, required: true %>
      <%= f.label :current_address, "ご自身の住所", class: "control-form" %>
    </div>
    <div class="col-sm-12 ml-5">
      <%= current_customer.full_address %><br>
      <%= current_customer.last_name %><%= current_customer.first_name %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12 ml-4">
      <%= f.radio_button :select_address, 1, required: true %>
      <%= f.label :select_address, "登録済住所から選択", class: "control-form" %>
    </div>
    <div class="col-sm-12 ml-5">
      <%= f.select :address_id, options_from_collection_for_select(@addresses, :id, :full_address), class:"ml-5" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12 ml-4">
      <%= f.radio_button :select_address, 2, required: true %>
      <%= f.label :new_address, "新しいお届け先", class: "control-form" %><br>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :postal_code, "郵便番号（ハイフンなし）", class:"control-label col-sm-3 ml-5" %>
    <%= f.text_field :postal_code, class:"foem-control col-sm-3" %>
  </div>

  <div class="form-group row">
    <%= f.label :address, "住所",class:"control-label col-sm-3 ml-5" %>
    <%= f.text_field :address, class:"foem-control col-sm-6" %>
  </div>

  <div class="form-group row">
    <%= f.label :name, "宛名",class:"control-label col-sm-3 ml-5" %>
    <%= f.text_field :name, class:"foem-control col-sm-3" %>
  </div>

  <div class="form-group row ">
    <div class="col-sm-4"></div>
    <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
    <div class="col-sm-4"></div></div>
  </div>

  <% end %>

</div>