<div class="row mt-5">
  <div class="img-fluid col-md-3 ml-5">
    <%= image_tag @item.get_image %>
  </div>
  <div class="col-md-5 ml-5">
    <h4>
      <b><%= @item.name %></b>
    </h4>
    <p class="mb-5">
      <%= @item.introduction %>
    </p>
    <h4>
      ¥<%= @item.with_tax_price.to_s(:delimited) %>
      <small>(税込)</small>
    </h4>
    <div class="d-flex align-items-center row">
      <%= form_with model: @cart_item, url:cart_items_path, method: :patch do |f| %>
      <% if customer_signed_in? %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <% end %>
      <%= f.select :amount, *[1..10], {include_blank: '個数選択'} %>
      <%= f.submit "カートに入れる", class:"btn btn-success ml-3 my-2" %>
      <% end %>
    </div>
  </div>
</div>



